body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: #E6A20E;
}

.app-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #767e79;
  padding-bottom: 1rem;
}

.logo {
  width: 25rem;
  height: auto;
  margin-bottom: .2rem;
}

h1 {
  color: #ec2127;
  margin: 0;
  font-size: 2rem;
}

h3 {
  color: #767e79;
  font-weight: normal;
  margin-top: 0.5rem;
}

.tracker-main {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  border: 2px solid #767e79;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

button {
  background-color: #890c1e;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #ec2127;
}

input[type="number"],
input[type="text"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #767e79;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

label {
  color: #E6A20E;
}